<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book: ${booksList}">
        <div class="Card-picture"><a href="#" th:href="${book.id}">
            <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:text="${book.author}">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="'$' + ${book.priceOld}">₽300.00</span>
                <span class="Card-price" th:if="${book.price gt 0.0}" th:text="'$' + ${book.price}">₽190.00</span>
                <span class="Card-price" th:if="${book.price le 0.0}" th:text="'$' + ${book.price = book.priceOld}">₽190.00</span>
                <span class="Card-discount" th:if="${book.price lt book.priceOld and book.price ne 0.0}"
                      th:text="'Скидка ' +
                      ${#numbers.formatDecimal(100 - (book.price * 100/ book.priceOld), 0, 2) + '%'}"></span>
            </div>
        </div>
    </div>
</div>
</html>